#color{
    background: #aa9191;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 150px;
    border: 2px black solid;
}

button{
    background: gray;
    color: #000;
    height: 40px;
    width: 80px;
    border: 5px black solid;
    margin-left: 185px;
    margin-top: 10px;
}